﻿@using System.Text.Json;
@model Web.Models.CreateOrderViewModel

<h3>Create new order</h3>

<form method="get" asp-controller="OrderItem" asp-action="Create" class="row">
    <div class="row pt-2">
        <div class="col">
            <h4>List of items</h4>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary w-100">Add Item</button>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Unit
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>

        <tbody>
            @if (Model.Order.Items.Any())
            {
                @foreach (var item in Model.Order.Items)
                {
                    <tr class="position-relative">
                        <td>
                            <a href="@Url.Action("Details", "OrderItem", new {Id = item.Id})" class="text-decoration-none text-black stretched-link">
                                @Html.DisplayFor(modelItem => item.Name)
                            </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Unit)
                        </td>
                        <td class="position-relative" style="z-index:100">
                            <a asp-action="Edit" asp-controller="OrderItem" asp-route-id="@item.Id">Edit</a> <br>
                            <a asp-action="Delete" asp-controller="OrderItem" asp-route-id="@item.Id">Delete</a> <br>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td class="text-center" colspan="5">Empty</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="col-lg-2 col-sm-12 pt-2">
        Select provider:
        @Html.DropDownListFor(m => m.SelectedProviderName, new SelectList(Model.AllProvidersName), Model.SelectedProviderName ?? "Select provider", new { @class = "form-select" })
    </div>
    <div class="form-group">
        <label asp-for="Order.Number" class="control-label"></label>
        <input asp-for="Order.Number" class="form-control" />
    </div>
    <div class="col-auto">
        <button formmethod="post" asp-controller="Orders" asp-action="Create" type="submit" class="btn btn-primary w-100">Save</button>
    </div>
</form>
