﻿@model OrderModel

<h2>Order Details</h2>
<table>
    <tr>
        <td>Order ID:</td>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <td>Order Number:</td>
        <td>@Model.Number</td>
    </tr>
    <tr>
        <td>Provider ID:</td>
        <td>@Model.ProviderId</td>
    </tr>
    <tr>
        <td>Provider Name:</td>
        <td>@(Model.Provider != null ? Model.Provider.Name : "N/A")</td>
    </tr>
    <tr>
        <td>Created Date:</td>
        <td>@Model.Created.ToString("yyyy-MM-dd HH:mm:ss")</td>
    </tr>
</table>

<h2>Order Items</h2>
@if (Model.Items.Any())
{
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Unit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Quantity</td>
                    <td>@item.Unit</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No items found for this order.</p>
}