﻿@model OrderModel

@using (Html.BeginForm("Edit", "Orders", FormMethod.Post))
{ 
    <div class="form-group">
        @Html.LabelFor(m => m.Number)
        @Html.TextBoxFor(m => m.Number, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ProviderId)
        @Html.TextBoxFor(m => m.ProviderId, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Created)
        @Html.TextBoxFor(m => m.Created, new { @class = "form-control" })
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Unit</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Items.Count; i++)
            {
                var item = Model.Items[i];

                <tr>
                    <td>
                        @Html.HiddenFor(m => m.Items[i].Id)
                        @Html.TextBoxFor(m => m.Items[i].Name, new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.Items[i].Quantity, new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.Items[i].Unit, new { @class = "form-control" })
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger" onclick="removeItem(@i)">Remove</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <button type="button" class="btn btn-success" onclick="addItem()">Add Item</button>
    <button type="submit" class="btn btn-primary">Save</button>
}
<script>
    function addItem() {
        var index = @Model.Items.Count;
        var html = `<tr>
                            <td>
                                <input type="hidden" name="Items[${index}].Id" value="" />
                                <input type="text" name="Items[${index}].Name" class="form-control" />
                            </td>
                            <td>
                                <input type="text" name="Items[${index}].Quantity" class="form-control" />
                            </td>
                            <td>
                                <input type="text" name="Items[${index}].Unit" class="form-control" />
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger" onclick="removeItem(${index})">Remove</button>
                            </td>
                        </tr>`;

        $("table tbody").append(html);
    }

    function removeItem(index) {
        $(`table tbody tr:eq(${index})`).remove();
    }
</script>