﻿@model Web.Models.OrdersViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h1>Orders</h1>
<button class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Orders")'">Add Order</button>
<br />
<br />
<form method="get" asp-controller="Orders" asp-action="Index" class="row">
    <div class="col-lg col-sm-12">
        <div class="form-group">
            <label for="selectedNumbers">Numbers</label>
            <select multiple size="3" class="form-control" id="selectedNumbers" name="SelectedNumbers">
                <!option value="">All Numbers</!option>
                @foreach (var number in Model.Numbers)
                {
                    <!option value="@number" @(Model.SelectedNumbers.Contains(number) ? "selected" : "")>@number</!option>
                }
            </select>
        </div>
    </div>
    <div class="col-lg col-sm-12">
        <div class="form-group">
            <label for="startDate">Start Date</label>
            <input type="date" class="form-control" id="startDate" name="StartDate" value="@(Model.StartDate.ToString("yyyy-MM-dd"))" />
        </div>
    </div>
    <div class="col-lg col-sm-12">
        <div class="form-group">
            <label for="endDate">End Date</label>
            <input type="date" class="form-control" id="endDate" name="EndDate" value="@(Model.EndDate.ToString("yyyy-MM-dd"))" />
        </div>
    </div>
    <div class="col-lg col-sm-12">
        <div class="form-group">
            <label for="selectedProviderIds">Providers</label>
            <select asp-for="SelectedProviderIds" asp-items="Model.Providers" multiple size="3" class="form-control"></select>
        </div>
    </div>
    <div class="col-lg-2 col-sm-12 pt-2">
        <button type="submit" class="btn btn-primary w-100">Apply Filter</button>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Number</th>
            <th>Date</th>
            <th>Provider</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Orders.Any())
        {
            @foreach (var order in Model.Orders)
            {
                <tr>
                    <td>@order.Id</td>
                    <td>
                        <a asp-action="Details" asp-controller="Orders" asp-route-id="@order.Id">@order.Number</a> <br>
                    </td>
                    <td>@order.Created.ToString("yyyy-MM-dd")</td>
                    <td>@order.Provider.Name</td>
                    <td class="position-relative" style="z-index:100">
                        <a asp-action="Edit" asp-controller="Orders" asp-route-id="@order.Id">Edit</a> <br>
                        <a asp-action="Delete" asp-controller="Orders" asp-route-id="@order.Id">Delete</a> <br>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4" class="text-center">No records found</td>
            </tr>
        }
    </tbody>
</table>
