﻿@model IEnumerable<Application.Models.ProviderModel>

<h3>General list of Providers</h3>
<br>
<form asp-controller="Providers" asp-action="Create" method="post">
    <p>
        Add Provider: <input type="text" name="providerName" />
        <input type="submit" value="Add" />
    </p>
</form>
<br>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Date of creation
            </th>
            <th>
                Number of orders
            </th>
            <th>
                Options
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Orders.Count)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> <br>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> <br>
                </td>
            </tr>
        }
    </tbody>

</table>
